@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;
}
:root {
  --dark-blue: #2d303a;
  --light-blue: #5e6d9f;
  --gray: #5f5d5d;
  --bg-main: #f8f8f8;
  --bg-secondary: #e5e5e5;
  --font-color: rgb(241, 239, 239);
}
a {
  text-decoration: none;
  color: currentColor;
}
[button] {
  padding: 0.5rem 3.5rem;
  border: 1px solid var(--light-blue);
  border-radius: 10px;
  transition: color 0.5s, background-color 0.5s;
}
[button]:hover {
  background-color: var(--dark-blue);
  box-shadow: 0 0 3px var(--dark-blue);
  color: var(--font-color);
}
/* navigation bar */
nav {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--dark-blue);
  min-height: 8vh;
}
.logo {
  color: var(--font-color);
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-links a {
  color: var(--font-color);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 13px;
}
.nav-links li :hover {
  font-weight: bolder;
}
.nav-links li {
  list-style: none;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 2px;
  background-color: var(--font-color);
  margin: 5px;
  transition: all 0.3s ease;
}
.side-nav {
  height: 92vh;
  background-color: var(--dark-blue);
  width: 50%;
  position: fixed;
  right: 0;
  overflow-x: hidden;
  display: none;
  z-index: 1;
  /* width: 0; */
}
.side-nav > .side-links {
  padding: 1rem;
  height: 100%;
  list-style-type: none;
  z-index: 1;
}
.side-links li {
  display: block;
  margin: 3rem 0;
  text-align: center;
  color: var(--font-color);
}
@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
    padding: 0 1rem;
  }
  .nav-links {
    display: none;
  }
  .burger {
    display: block;
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-4.2px, 6.1px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4.2px, -6.1px);
}
.nav-active {
  display: block;
  animation: showSideNav 0.7s;
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes showSideNav {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
/* landing page  */
#landing-page {
  padding: 10% 0;
  background-color: var(--bg-main);
  display: grid;
  grid-gap: 0;
  min-height: 92vh;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(calc(500px / 2), 1fr));
}
.left {
  height: 80%;
}
img {
  width: 100%;
}
.right {
  height: 80%;
}
#greets {
  height: 100%;
  margin-top: -1.2rem;
  padding: 0.8rem;
}
.greet {
  margin: 1rem 0;
}
.greet:nth-child(1) {
  font-weight: 150;
  font-size: 2.2rem;
}
.greet:nth-child(2) {
  font-weight: 150;
  font-size: 1.8rem;
}
.greet:nth-child(3) {
  font-weight: 100;
  font-size: 1.4rem;
  padding: 0 1.5rem 0 0;
}
.center {
  padding: 2rem 0;
}
.center a {
  font-size: 1.2rem;
}
.image-left {
  width: 100%;
}
@media screen and (max-width: 1080px) {
  .greet:nth-child(1) {
    font-weight: 150;
    font-size: 2rem;
  }
  .greet:nth-child(2) {
    font-weight: 150;
    font-size: 1.6rem;
  }
  .greet:nth-child(3) {
    font-weight: 100;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .left {
    padding: 1.2rem 0;
    height: 80%;
  }
  .right {
    padding: 1.2rem 0;
    height: 80%;
  }
  #greets {
    text-align: center;
  }
  .greet:nth-child(1) {
    font-weight: 150;
    font-size: 1.3rem;
  }
  .greet:nth-child(2) {
    font-weight: 150;
    font-size: 1.1rem;
  }
  .greet:nth-child(3) {
    font-weight: 100;
    font-size: 1rem;
    padding: 0 0.5rem;
  }
  .center a {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 498px) {
  #landing-page {
    padding: 0;
  }
  .left {
    margin-top: -5rem 0;
    height: 80%;
  }
  .right {
    margin-top: -2.5rem 0;
    height: 80%;
  }
}
@media screen and (max-width: 375px) {
  #greets {
    margin-top: -5rem;
  }
}
@media screen and (max-width: 320px) {
  body {
    overflow-x: hidden;
  }

  #landing-page {
    padding: 0;
  }
  .left {
    margin-top: -4rem;
    height: 80%;
  }

  .right {
    height: 80%;
  }
  #greets {
    text-align: center;
    margin-top: -3rem;
  }
  .center {
    margin-top: -0.4rem;
  }
  .greet:nth-child(1) {
    font-weight: 150;
    font-size: 1.2rem;
  }
  .greet:nth-child(2) {
    font-weight: 150;
    font-size: 1rem;
  }
  .greet:nth-child(3) {
    font-weight: 100;
    font-size: 0.8rem;
    padding: 0 0.5rem;
  }
  .center a {
    font-size: 0.8rem;
  }
}

/* about page */
#about {
  width: 100%;
}
.about-page {
  width: 98%;
  background-color: var(--bg-secondary);
  min-height: 100vh;
  display: inline-block;
}
.header {
  padding-top: 4rem;
  text-align: center;
  overflow-x: hidden;
}
.header p {
  font-size: 3rem;
  color: var(--dark-blue);
}

.header hr {
  margin: auto;
  width: 5rem;
  height: 0.4rem;
  text-align: center;
  background-color: var(--dark-blue);
  border: 2px solid var(--dark-blue);
  border-radius: 2.3rem;
}
.preferences {
  text-align: center;
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
}
.preferences img {
  width: 25%;
}
.preference {
  padding: 3%;
}
.preference h5 {
  font-size: 1.5rem;
  font-weight: 150;
}
.preference p {
  font-size: 1.2rem;
}
.p-right {
  display: flex;
  justify-content: space-around;
}

.p-left {
  display: flex;
  justify-content: space-between;
}
.better-knowledge {
  margin-top: 3rem;
  width: 98%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
}
.profile {
  width: 100%;
}
.profile p {
  padding: 1.3rem;
}
.profile h4 {
  color: #5f5d5d;
  font-weight: 150;
  font-size: 2rem;
}
.skills {
  padding-left: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.skill {
  width: 100%;
}
.skill {
  display: flex;
  margin-bottom: 4%;
}
.profile img {
  width: 40%;
}
.name {
  text-align: center;
  height: 2rem;
  background-color: var(--light-blue);
  width: 20%;
  color: var(--font-color);
}
.color {
  height: 2rem;
  background-color: var(--dark-blue);
}
.perc {
  height: 2rem;
  background-color: #c4c4c4;
  text-align: end;
  padding-right: 0.3rem;
}
.a {
  width: 10%;
}
.b {
  width: 15%;
}
.c {
  width: 20%;
}
.d {
  width: 30%;
}
.e {
  width: 35%;
}
.perc-a {
  width: 60%;
}
.perc-b {
  width: 55%;
}
.perc-c {
  width: 50%;
}
.perc-d {
  width: 40%;
}
.perc-e {
  width: 35%;
}
@media screen and (max-width: 768px) {
  .preference h5 {
    font-size: 1.4rem;
    font-weight: 150;
  }
  .preference p {
    font-size: 1.2rem;
  }
  .p-right {
    display: block;
  }
  .p-down {
    margin-top: 10%;
  }
  .p-left {
    display: block;
  }
}
@media screen and (max-width: 1110px) {
  .name {
    width: 30%;
  }
}
@media screen and (max-width: 880px) {
  .skill {
    width: 95%;
  }
  .better-knowledge {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .preference h5 {
    font-size: 1rem;
  }
  .preference p {
    font-size: 0.8rem;
  }
  .better-knowledge {
    font-size: 0.8rem;
  }
  .a {
    width: 12%;
  }
  .b {
    width: 17%;
  }
  .c {
    width: 22%;
  }
  .d {
    width: 30%;
  }
  .e {
    width: 34%;
  }
  .perc-a {
    width: 50%;
  }
  .perc-b {
    width: 45%;
  }
  .perc-c {
    width: 40%;
  }
  .perc-d {
    width: 32%;
  }
  .perc-e {
    width: 27%;
  }
}

/* projects-page */

.project-page {
  background-color: #f8f8f8;
  min-height: 100vh;
  font-size: 1.3rem;
}
.intro {
  margin-top: 1.5%;
  text-align: center;
}
.intro a {
  color: var(--light-blue);
  cursor: pointer;
}
.place-center {
  position: relative;
  margin: 5% auto;
  text-align: center;
  padding-left: 3rem;
  min-height: 30vh;
  max-width: 1000px;
  user-select: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--font-color);
}
.project {
  display: none;
  width: 95%;
  border-radius: 1rem;
  box-shadow: -3px -3px 30px#c4c4c4;
}
.project-image img {
  border-radius: 1rem 0 0 1rem;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.description h4 {
  padding: 0.5rem 0;
}
.description p {
  padding: 0.6rem 0;
}
.description a {
  color: var(--light-blue);
  cursor: pointer;
  font-size: 1.8rem;
  padding: 1rem 0;
}
.inactiveLink {
  pointer-events: none;
  cursor: default;
}
.more-projects {
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 968px) {
  .project {
    display: flex;
    flex-direction: column;
  }
  .project-image img {
    border-radius: 1rem 1rem 0 0;
  }
}
@media screen and (max-width: 768px) {
  #projects {
    font-size: 1.3rem;
  }
  .place-center {
    padding-right: 1.2rem;
  }
}
@media screen and (max-width: 480px) {
  #projects {
    font-size: 1rem;
  }
}

/* Blogs page */
#blogs {
  min-height: 100vh;
  background-color: var(--bg-secondary);
}
.blogs-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 80%;
  margin: 4rem auto;
  padding: 0;
}
.blog {
  background-color: var(--bg-main);
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 12px;
  box-shadow: -3px -3px 30px#c4c4c4;
  padding: 0rem;
}
.blog-top {
  width: 100%;
  padding-bottom: 1rem;
}
.blog-image img {
  width: 100%;
  border-radius: 12px 12px 0 0;
}
.blog-title {
  text-align: center;
  font-size: 1.5rem;
}
.blog-bottom {
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}
#blogs > .more-projects {
  font-size: 1.4rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 880px) {
  .blogs-container {
    width: 90%;
  }
}
@media screen and (max-width: 795px) {
  .blogs-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@media screen and (max-width: 480px) {
  .blog-title {
    font-size: 1rem !important;
  }
  .blog-bottom {
    padding: 0.5rem 0;
    font-size: 1rem;
  }
  #blogs > .more-projects {
    font-size: 1rem;
  }
}

/* contact page */
#contact {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-main);
  font-size: 1.4rem;
}
.contact-page .intro {
  font-size: 1.6rem;
}

.form {
  margin: 3% 35%;
  width: 90%;
}
.input-field h2 {
  font-weight: 150;
  font-size: 1.4rem;
}
.input-field {
  margin-top: 1rem;
}
.input-field input {
  border: 1px solid var(--light-blue);
  padding: 0.5rem;
  height: 3rem;
  width: 35%;
  background: none;
  font-size: 1.2rem;
}
.input-field textarea {
  border: 1px solid var(--light-blue);
  padding: 0.5rem;
  width: 35%;
  background: none;
  font-size: 1.2rem;
  resize: none;
}
.send-button button {
  font-size: 1.2rem;
  margin: 1rem 9%;
  background: none;
}
.send-button button:hover {
  cursor: pointer;
}
@media screen and (max-width: 1210px) {
  .input-field input,
  .input-field textarea {
    width: 40%;
  }
}
@media screen and (max-width: 1024px) {
  .form {
    margin: 3% 25%;
    width: 90%;
  }
  .input-field input,
  .input-field textarea {
    width: 50%;
  }
  .input-field h2 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .form {
    margin: 3% 2rem;
    width: 90%;
  }
  .input-field input,
  .input-field textarea {
    width: 100%;
  }
  .contact-page .intro {
    font-size: 1.3rem;
  }
  .input-field h2 {
    font-size: 1rem;
  }
  .send-button button {
    font-size: 1rem;
    margin: 1rem 32%;
    padding: 0.5rem 1.6rem;
  }
}
@media screen and (max-width: 521px) {
  .form {
    margin: 3% 1.3rem;
    width: 90%;
  }
  .send-button button {
    margin: 1rem 26%;
    padding: 0.5rem 1.5rem;
  }
}
@media screen and (max-width: 391px) {
  .send-button button {
    font-size: 0.7rem;
    margin: 1rem 24%;
  }
}

/* footer */

footer {
  min-height: 15vh;
  background-color: var(--dark-blue);
}
.footer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--bg-main);
}
.closing {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-size: 1.5rem;
}
.social-center {
  display: flex;
  justify-content: center;
  margin-top: 1.3rem;
  font-size: 2.5rem;
}
.social {
  width: 40%;
  display: flex;
  justify-content: space-around;
}
.closing-text {
  display: flex;
  justify-content: center;
  margin-top: 1.4rem;
  font-size: 1.5rem;
}
@media screen and (max-width: 1024px) {
  .closing {
    font-size: 1.4rem;
  }
  .social-center {
    font-size: 2.3rem;
  }

  .closing-text {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 797px) {
  .closing {
    font-size: 1.2rem;
  }
  .social-center {
    font-size: 2rem;
  }

  .closing-text {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 692px) {
  .footer {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .closing {
    font-size: 1rem;
    text-align: center;
  }
  .social-center {
    font-size: 1.5rem;
  }

  .closing-text {
    font-size: 1rem;
  }
}
